<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hola</title>
</head>
<body>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <h1 class="navbar-brand">Product Rescue</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/usuarios">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
    
            </ul>
          </div>
        </div>
        <div>
    
          <a class="navbar-brand" href="/login">
            <img src="usuario.png" style="width: 40px; height: 40px;" alt="">
          </a>
        </div>
      </nav>
    
</body>
</html>